
.git
.github
.dockerignore
.gitignore

.idea
.vscode

__pycache__/
*.py[cod]
*$py.class
*.so
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.venv
venv

.DS_Store
.AppleDouble
.LSOverride
._*

.vscode
.idea

# SDA folders
**/.venv
core/app-manager/catalog
docker-compose*
docs
flink-conf
gnmi
postman_collections
kubernetes
README.md
