version: 1
formatters:
  simple:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    formatter: simple
    stream: ext://sys.stdout
loggers:
  nipyapi:
    level: WARNING
    handlers: [console]
  uvicorn.error:
    level: DEBUG
    handlers: [console]
    propagate: no
  uvicorn.access:
    level: DEBUG
    handlers: [console]
    propagate: no
  uvicorn.:
    level: INFO
    handlers: [console]
    propagate: no
root:
  level: INFO
  handlers: [console]
